<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <div class="alert success" *ngIf="isCancel">Asset Request Cancelled!</div>
  </div>

  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" (input)="getAllData()" placeholder="Search by Request ID, Status" />
    <button (click)="search()" class="btn btn-primary">Search</button>
  </div>
  <table>
    <tr>
      <th>RequestID</th>
      <th>Asset No</th>
      <th>Request Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let request of filteredData">
      <td>{{request.requestId}}</td>
      <td>{{request.assetNo}}</td>
      <td>{{request.requestedAt}}</td>
      <td>{{request.status}}</td>
      <td>
        <div>
          <button class="btn btn-danger btn-sm" (click)="cancel(request.requestId)">Cancel</button>
        </div>
      </td>
    </tr>
  </table>
  <footer>
    <p><strong>&copy; 2025 Asset Management System</strong> by Yakesh Balaji Raja P</p>
    <a href="https://www.linkedin.com/in/yakesh-balaji-raja-p-a90142238/" target="_blank">Contact</a>
  </footer>
</body>

</html>
