<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="alert success" *ngIf="submitted">✔ Credential Created successfully!</div>
  <h1>Create Credential</h1>
  <form class=" container form" [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">
    <div>
      <label for="userName">User Name</label>
      <input type="text" placeholder="User Name" id="userName" required formControlName="userName"><br>
      <span style="color: red;" *ngIf="myForm.get('userName')?.invalid && myForm.get('userName')?.touched">Username
        is invalid</span><br>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" placeholder="password" id="password" required formControlName="password"><br>
      <span style="color: red;" *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">Password
        is invalid</span><br>
    </div>

    <button type="submit" class="btn primary" [disabled]="myForm.invalid">Create</button>
  </form>

</body>

</html>
